# .dockerignore for frontend

# Ignore node_modules
node_modules

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

# Ignore version control directories and files
.git
.gitignore

# Ignore build output
build
dist

# Ignore IDE and editor directories and files
.vscode
.idea
*.swp

.env

docs
