
.DS_Store

/node_modules/
/public/build/

# SvelteKit build output
.svelte-kit/

# Temporary files
*.log
*.tmp
*.swp

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.vscode/
.idea/
*.iml

# Other
*.bak
*.orig
