# .dockerignore for backend

# Ignore node_modules
node_modules

# Ignore frontend directory
frontend

# Ignore Docker Compose files
compose*.yaml

# Ignore version control directories and files
.git
.gitignore

# Ignore Python cache and virtual environment directories
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.venv
env
venv

# Ignore IDE and editor directories and files
.vscode
.idea
*.swp

.env

docs
data
features
frontend
test

!docs/
docs/**
!docs/project_docs/
docs/project_docs/**
!docs/project_docs/exercises/
docs/project_docs/exercises/**
!docs/project_docs/exercises/muscles_and_exercises.yaml
!docs/project_docs/Workout-Programs/
docs/project_docs/Workout-Programs/**
!docs/project_docs/Workout-Programs/workout_programs.yml
!docs/project_docs/Workout-Programs/workout-program-detail.yml
