# .dockerignore for backend

# Ignore node_modules
node_modules

# Ignore frontend directory
frontend

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

# Ignore version control directories and files
.git
.gitignore

# Ignore Python cache and virtual environment directories
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.venv
env
venv

# Ignore IDE and editor directories and files
.vscode
.idea
*.swp

.env

docs

src/simulations
src/crud/insert.py
src/plot.py
