[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
tinydb = "*"
numpy = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"